.section4 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 40px;
}

.section4 h1{
    margin: auto;
    margin-bottom: 40px;
}

.section4 .div1::-webkit-scrollbar {
    display: none;
}

.section5 {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 40px;
    /* width: 100%; */
}

#sec5-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-top: 50px;
}

.section5 .box1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
}

.section5 h1 {
    text-align: center;
}

.section5 img {
    width: 100px;
    height: 100px;
}

.section4 h4 {
    text-align: center;
}

#sec4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

#sec4 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    color: black;
}

@media (min-width:320px) {
    .contain {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .contain iframe {
        width: 200px;
        height: 200px;
    }

}

@media (min-width:600px) {
    .contain {
        width: 400px;
    }

    .contain iframe {
        width: 400px;
        height: 300px;
    }

    #sec5-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:800px) {
    #sec5-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}