.section4 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 40px;
}

.section4 h1{
    margin: auto;
    margin-bottom: 40px;
}

.section4 .div1::-webkit-scrollbar {
    display: none;
}

.section5 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 40px;
}

.section5 h1 {
    text-align: center;
}

@media (min-width:400px) {
    #contain {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 300px;
    }
}

@media (min-width:600px) {
    #contain {
        width: 400px;
    }

    #contain iframe {
        width: 400px;
        height: 300px;
    }
}