* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,188,255,1) 0%, rgba(0,137,255,1) 0%, rgba(9,53,121,1) 0%, rgba(0,146,255,1) 100%, rgba(0,146,255,1) 100%, rgba(2,126,226,1) 100%);
    color: white;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#menu li {
    width: 20px;
    height: 2px;
    background-color: white;
}