* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header img {
    width: 50px;
    height: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}